apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: homestarter-ns
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - port: 80
      targetPort: 8081
      protocol: TCP
